<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <div class="form">
      <div class="form-body">
        <%= form_tag("/posts/#{@post.id}/update",{multipart: true}) do %>
          <p>タイトル</p>
            <input name="title" value="<%= @post.title %>">
          <p>画像</p>
            <input name="image" type="file">
          <p>内容</p>
            <textarea name="content"><%= @post.content %></textarea>
          <p>現在登録されているタグ（チェックして保存を押すと削除できます）</p>
            <% @search_tags.each do |tag| %>
            <div class="posts-edit-tags">

                <!-- チェックボックスの設置 -->
                  <%= check_box_tag "now_tags[]", tag.id %>
                <p>
                  <%= label_tag "now_tags[#{tag.id}]"  , "#{tag.tag_name}" %>
                <!-- <%= tag.tag_name %> -->
                </p>
            </div>
            <% end %>


          <p>タグを追加する(半角カンマ","で区切ると複数のタグが追加できます)</p>
          <input name="tag_name">
          <input type="submit" value="保存">
          <% end %>
      </div>
    </div>
  </div>
</div>
