<!DOCTYPE html>
<html>
  <head>
    <title>TWebapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
    <header>
      <ul id="menu">
        <div id="Applogo">
          <h1><%= link_to("スキクリエイト","/") %></h1>
        </div>
      <% if session[:user_id] %>
        <% current_user = User.find_by(id: session[:user_id]) %>
          <% if @current_user %>

        <li><%= link_to("さようなら", "/logout", {method: :post}) %></li>
        <li><%= link_to("さがす", "/searchs/index") %></li>
        <li><%= link_to("ひたすら","/posts/index")%></li>
        <li><%= link_to("つくる","/posts/new") %></li>
        <li>
          <%=link_to("あなた","/users/#{@current_user.id}") %>
        </li>
      <% end %>
      <% else %>
        <li><%= link_to("こんにちは", "/login") %></li>
        <li><%= link_to("はじめまして","/signup") %></li>
      <% end %>
      </ul>
      <% if flash[:notice] %>
        <div class="flash">
            <%= flash[:notice] %>
          </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
