<!DOCTYPE html>
<html>
  <head>
    <title>TWebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div id="Applogo">
        <h1><%= link_to("アプリ名","/") %></h1>
      </div>
      <ul id="menu">
        <% current_user = User.find_by(id: session[:user_id]) %>
          <% if current_user %>
            <li>
              <%=link_to(current_user.name,"/users/#{current_user.id}") %>
            </li>
          <% end %>

        <li><%= link_to("ログイン", "/login") %></li>
        <li><%= link_to("新規登録","/users/new") %></li>
        <li><a href="a">ログアウト</a></li>
        <li><%= link_to("投稿一覧","/posts/index")%></li>
        <li><a href="a">新規投稿</a></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
